@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppin", sans-serif;
}

:root {
  --color-blue: #4200FF;
  --color-white: #FFFFFF;
  --color-grey01: rgba(255, 255, 255, 0.95);
  --color-grey02: rgba(0, 0, 0, 0.2);
  --color-grey03: #F8F8F8;
  --color-green: #4BA036;
  --color-red: #CE4646;
}