body {
    height: 100vh;
    width: 100vw;
}

.h1_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1_Container>p {
    width: 80%;
}

h1 {
    font-size: 32px;
    width: 80%;
    margin-top: 39px;
    margin-bottom: 11px;
}

header {
    border-bottom: var(--color-grey02) solid;
    margin-top: 25px;
}

.h1AndCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-blue);
}

.visible {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 21px;

}

.home {
    width: 40%;
    height: 48px;
    background-color: var(--color-white);
    border: var(--color-blue) solid 1px;
    color: var(--color-blue);
    font-size: 18px;
    line-height: 21px;


}

.register {
    width: 40%;
    height: 48px;
    background-color: var(--color-blue);
    border: var(--color-blue) solid 1px;
    color: var(--color-white);
    font-size: 18px;
    line-height: 21px;
}

.fechado {
    display: none;
}

.aberto {
    display: flex;
}

section {
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 28px;
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
}

.login_Container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 26px;
    align-items: center;

}

.buttons_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-top: 13px;


}

.login_Container>input {
    height: 52px;
    width: 80%;
    border: var(--color-grey02) 1px solid;

}

.login_Container>select {
    height: 52px;
    width: 80%;

}

.buttons_Container>button {
    height: 52px;
    width: 80%;

}

main {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../pages/assets/Rectangle\ 6.svg");
    background-size: cover;
    background-repeat: no-repeat;

}

.login_Button {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: var(--color-blue);
}

.register_Button {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: var(--color-blue) solid 1px;
}

@media(min-width:991px) {
    main {
        display: flex;
        gap: 60px;
        justify-content: center;
    }

    section {
        width: 40%;
        margin-top: 100px;
    }

    .abre {
        display: none;
    }

    .fechado {
        display: flex;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .home {
        width: 142px;
    }

    .register {
        width: 142px;
        margin-right: 20px;
    }

}